<html>

<head>
    <title>Cryygle Auth</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="container">
        <img src="/static/img/logo.svg" alt="logo" style="padding-top: 32px;padding-bottom: 16px;margin-bottom: 16px;">

        <div class="profile_card">
            <p class="profile_label">Login: {{ login }}</p>
            <p class="profile_label">Token: {{ token }}</p>
        </div>

        <a href="/coin" style="width: 100%">
            <p style="text-align: center;margin: 4px;">Back to Search</p>
        </a>
    </div>
</body>

</html>