<html>

<head>
    <title>Cryygle Auth</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div style="display: flex;flex-direction: column;align-items: center;vertical-align:middle;padding-bottom: 32px;">
        <img src="/static/img/logo.svg" alt="logo" style="padding-top: 32px;padding-bottom: 16px;margin-bottom: 16px;">

        <div class="profile_card">
            <p class="profile_label">Login: {{ login }}</p>
            <p class="profile_label">Token: {{ token }}</p>
        </div>
    </div>
</body>

</html>