<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <img src="/static/img/logo.svg" alt="logo" style="padding-top: 32px;padding-bottom: 16px;margin-bottom: 16px;">

        <form method="GET" style="display: flex;flex-direction: row;justify-content: center;align-items: center;width: 800px">
            <input class="search" type="text" name="q" placeholder="Enter cryptocurrency name..." value={{ query }}>
            <button class="search" type="submit">
                <img src="/static/img/magnifying-glass.svg" alt="search">
            </button>
        </form>

        {% if data|length %}
            {% for item in data %}
                <div class="result">
                    <a target="_blank" href={{ item['url'] }}>
                        <h3 style="display: inline-block;line-height: 1.3;margin-bottom: 3px;">
                            {{ item['heading'] }}
                        </h3>
                    </a>
                    <div>
                        <span>
                            {{ item['paragraph'] }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="result">
                <h3 style="display: inline-block;line-height: 1.3;margin-bottom: 3px;">
                    Nothing found! :(
                </h3>
                <div>
                    <span>
                        Your search – {{ query }} – did not match with any cryptocurrency name.
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
</body>

</html>