<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cryygle</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="container">
        <img src="/static/img/logo.svg" alt="logo" style="padding-top: 32px;padding-bottom: 16px;margin-bottom: 16px;">

        <form method="GET" style="display: flex;flex-direction: row;justify-content: center;align-items: center;width: 800px;margin-bottom: 16px">
            <input class="search" type="text" name="q" placeholder="Enter cryptocurrency name..." value={{ query }}>
            <button class="search" type="submit">
                <img src="/static/img/magnifying-glass.svg" alt="search">
            </button>
        </form>

        {% if data|length %}
            {% for item in data %}
                <div class="result">
                    <div style="display: flex;flex-flow: row nowrap;min-height: 20px;align-items: stretch;width: 800px">
                        <a class="header" target="_blank" href={{ item['url'] }}>
                            <div>
                                {{ item['heading'] }}
                            </div>
                        </a>

                        <a class="summary" href="/coin?q={{ query }}&s={{ data.index(item) }}">
                            <img style="vertical-align: sub;" src="/static/img/info.svg" alt="summary">
                        </a>
                    </div>
                    <div>
                        <span>
                            {{ item['paragraph'] }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if query|length %}
            <div class="result">
                <h3 style="display: inline-block;line-height: 1.3;margin-bottom: 8px;">
                    Nothing found! :(
                </h3>
                <div>
                    <span>
                        Your search did not match with any cryptocurrency name.
                    </span>
                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>

    {% if summary is defined %}
        <div class="modal" onclick="location.href='/coin?q={{ query }}'">
            <div class="modal__content">
                <h2 style="margin: 0px 0px 8px 0px">
                    {{ summary['title'] }}
                </h2>

                <span style="margin: 0px"> 
                    {{ summary['summary'] }}
                </span>
            </div>
        </div>
    {% endif %}
</body>

</html>