input.search[type="text"] {
	padding: 16px;
	font-size: 20px;
	float: left;
	width: 100%;
	background: #f2f2f7;
	border-radius: 16px;
	border-width: 0px;
	font-family: "Source Sans Pro", sans-serif;
	margin-right: 16px;
}

button.search[type="submit"] {
	float: left;
	width: 100px;
	padding: 12px;
	background: #4285f4;
	font-size: 17px;
	border-radius: 16px;
	border-width: 0px;
	cursor: pointer;
}

button.search:hover {
	background: #609cff;
}

a.summary {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: none;
	width: 20px;
	border-width: 0px;
	cursor: pointer;
}

div.result {
	display: block;
	text-align: left;
	width: 800px;
	font-family: "Source Sans Pro", sans-serif;
	margin-bottom: 16px;
}

a.header {
	font-size: 20px;
	font-weight: bold;
	color: #007aff;
	margin-bottom: 4px;
	flex: 1;
	align-self: flex-start;
	margin-right: 16px;
	text-decoration: none;
}

.modal {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	transition: all 0.4s;
	font-family: "Source Sans Pro", sans-serif;
	cursor: pointer;
}

.modal__content {
	border-radius: 8px;
	width: 500px;
	background: #fff;
	padding: 16px;
	cursor: auto;
}